<section class="max-w-screen-md m-auto" id="about">
  <h2 class="text-2xl mb-3">
    <span class="border-b-4 border-coffee-light"> Acerca de </span>
  </h2>

  <p class="text-base mb-5">
    Arturo es un desarrollador front end con sede en Veracruz, México y le
    apasiona crear servicios y cosas digitales que desea. Tiene una habilidad
    especial para todo lo relacionado con el lanzamiento de productos, desde la
    planificación y el diseño hasta la resolución de problemas de la vida real
    con código.
  </p>

  <div class="flex justify-center">
    <button
      class="px-5 py-2 bg-coffee-light rounded-lg flex justify-center items-center hover:bg-coffee-regular"
    >
      Mi portafolio
      <span class="material-symbols-outlined"> chevron_right </span>
    </button>
  </div>
</section>
