<section class="max-w-screen-sm mx-auto" id="home">
  <div class="px-6 py-3 rounded-lg text-center bg-coffee-black mb-6">
    Hola, soy un dessarrollador Front-end con sede en Veracruz, México
  </div>
  <div class="flex justify-center gap-5">
    <div class="">
      <h1 class="text-[40px]">Pedro Arturo Farias S.</h1>
      <p class="text-[16px]">Artesano Digital (Dessarrollador / Diseñador)</p>
    </div>
    <div
      class="w-[96px] h-[96px] flex justify-center items-center bg-coffee-black rounded-full"
    >
      <span class="material-symbols-outlined"> person </span>
    </div>
  </div>
</section>
